* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    margin-top: 5rem;
}

.container,
.container-fluid {
    height: 100px;
}

.row,
.box {
    height: 100%;
}

.box {
    border: 1px solid #000;
}

.bg-dark-green {
    background-color: #090;
}

.bg-light-green {
    background-color: #95b90b;
}

.bg-black {
    background-color: #000;
}