* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.row,
.box {
    height: 100px;
    width: 100%;
}

.box {
    background-color: #006cfa;
    color: #fff;
    line-height: 100px;
    text-align: center;
}

.nested {
    background-color: #00db62;
    height: 80px;
}

.box2 {
    background-color: #006cfa;
    color: #fff;
    line-height: 50px;
    text-align: center;
    height: 50px;
    width: 100%;
}

/* Alignment section */
.jc-start {
    justify-content: flex-start;
}

.jc-center {
    justify-content: center;
}

.jc-end {
    justify-content: flex-end;
}

.ai-f-start {
    align-items: flex-start;
}

.ai-center {
    align-items: center;
}

.ai-flex-end {
    align-items: flex-end;
}

/* Justify content section */
.jc-space-around {
    justify-content: space-around;
}

.jc-space-between {
    justify-content: space-between;
}

/* Padding */
.padding-rl {
    padding: 0px 1px;
}

.padding {
    padding: 10px;
}

/* Margin */
.m-top-bot-big {
    margin: 50px 0px;
}

.m-top-bot {
    margin: 5px 0px;
}
